
<body>
<div class="container">

<table class="table" id="searchTextResults">
  <thead>
    <td colspan="6">
      <input placeholder="search.." ng-model="search" class="form-control" type="search"/>
    </td>
  <tr>
    <th>Company</th>
    <th>Date</th>
    <th>Job Posting</th>
    <th>Description</th>
    <th>Keywords</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in applications | filter:search">
    <td>{{item.company}}</td>
    <td>{{item.date}}</td>
    <td><a ng-href="http://{{item.link}}">{{item.id}}</a></td>
    <td>{{item.description}}</td>
    <td>{{item.keywords}}</td>
  </tr>
  </tbody>
</table>



</div><!-- /container -->

</body>
