
<body>
<div class="container jumbotron">

<table st-table="applications" class="table table-striped" id="searchTextResults">
  <thead>
  <tr>
    <th>Company</th>
    <th>Date</th>
    <th>Job posting</th>
    <th>ID</th>
    <th>Description</th>
    <th>Keywords</th>
  </tr>
    <th colspan="3">
      <input st-search placeholder="search.." class="input-sm form-control" type="search" st-delay="100"/>
    </th>
  </thead>
  <tbody>
  <tr ng-repeat="item in applications">
    <td>{{item.company}}</td>
    <td>{{item.date}}</td>
    <td><a ng-href="http://{{item.link}}">{{item.link}}</a></td>
    <td>{{item.id}}</td>
    <td>{{item.description}}</td>
    <td>{{item.keywords}}</td>
  </tr>
  </tbody>
</table>


</div><!-- /container -->

</body>
